body {
    /* background-color: #2c2f30; */
    /* color: white; */
    background-color: white;
    line-height: 30px;
    font-size: 18px;
}

/* body.table {
    border: 1px solid black;
} */

.jumbotron {
    background-color: white;
}

/* table img {
    width: 50px;
}

table td {
    display: table-cell;
    vertical-align: middle;
}
 */

 #createModal{
    background-color:rgba(255, 255, 255, 1.00);
 }

 .modal p{
    line-height: 30px;
    font-size: 18px;
 }

 .footer {
     font-size: 14px;
     color: grey;
 }



